<% current = 1 %>
<% @artists.each do |artist| %>
  <% if current % 3 == 0 %>
        <hr/>
        <div class='span-24' >
        <h2 class='headline'><%= link_to artist.name, artist %></h2>
        <%= link_to image_tag("artists/#{artist.name.downcase.gsub(/ /, '_')}.jpg", :alt => artist.name, :width => "230px", :height => "200px", :style => 'float: left; clear: left; margin: 0.75em;'), artist %>
        <span style='display: block'> <span class='bold'><%= artist.origin %> --- </span>
        <%= artist.bio %>
        <span class='continued-link'> <%= link_to "Continued on A#{artist.id}", artist %> </span>
      </div>
  <% else %>
    <% if current % 2 == 0 %>
        <div class='span-11 last' >
          <h2 class='headline'><%= link_to artist.name, artist %></h2>
          <%= link_to image_tag("artists/#{artist.name.downcase.gsub(/ /, '_')}.jpg", :alt => artist.name, :class => 'story-image-left', :width => "230px", :height => "200px", :style => 'float: right; clear: right; margin: 0.75em;'), artist %>
          <span style='display: block'> <span class='bold'><%= artist.origin %> --- </span>
          <%= artist.bio %>
          <span class='continued-link'> <%= link_to "Continued on A#{artist.id}", artist %> </span>
        </div>
    <% else %>
        <div class='span-11 append-2 colborder' >
          <h2 class='headline'><%= link_to artist.name, artist %></h2>
          <%= link_to image_tag("artists/#{artist.name.downcase.gsub(/ /, '_')}.jpg", :alt => artist.name, :class => 'story-image-left', :width => "230px", :height => "200px", :style => 'float: right; clear: right; margin: 0.75em;'), artist %>
          <span style='display: block'> <span class='bold'><%= artist.origin %> --- </span>
          <%= artist.bio %>
          <span class='continued-link'> <%= link_to "Continued on A#{artist.id}", artist %> </span>
        </div>

    <% end %>
  <% end %>
  <% current = current + 1 %>
<%end %>
    

