<div class='span-24 '>
<% last_show = false %>
<% @shows.each do |show| %>
  <div class='<%= "span-11 " + (last_show ? " last" : " append-2 colborder") %>'>
    <h1> <%= show.when.strftime('%A, %B %d @ %I:%M %p').gsub(/:00/, '').gsub(/\b0(\d)\b/, '\1') %></h1>
    <div class='span-9'>
      <h2><%= show.where %></h2>
    </div>
    <div class='span-2 last'>
      <h1><%= "#{show.cost}" %></h1>
    </div>
    <div class='span-11'>
        <% artists = show.who.split(',').map do |item| 
                   val = item.strip
                 if val =~ /\[\d+\]/
                  artist = Artist.find_by_user_id(val.sub(/\[(\d+)\]/, '\1').to_i)
                  if !artist.nil?
                    raw link_to(artist.name, artist)
                  else
                      val.sub(/\[(\d+)\]/, '\1')
                  end
                  else
                    val
                end 
              end
            %>
            <ul><% artists.each do |a| %>
              <li>
              <% if a.downcase =~/<a\s+\href/ %>
                <%= raw a %>
              <% else %>
                <%= a %>
              <% end %>
              </li>
            <% end %>
          </ul>
    </div>
      <hr/>
    <% last_show = !last_show %>
  </div>
<% end %>
</div>
